Catalina Agudelo Cifuentes
Yesid Humberto Montaño Cuero
Laureano Romero Velasquez
Manuel Fabian Sarmiento Marquez
Javier Ricardo Muñoz Castillo

Usted trabaja en el departamento de estadísticas e información institucional de la Institución Educando Líderes, la cual ofrece programas de nivel técnico profesional y tecnológico. Se le ha encomendado la misión de analizar los resultados de la Prueba Saber TyT (es la prueba homóloga al Saber Pro, pero aplicada en técnico y tecnológico). Para ello, se le entrega una base de datos que proviene del Icfes (la del periodo 2016)

Su misión entonces es entregar un informe sobre la calidad y la preparación de los datos, de tal manera que el análisis de los resultados pueda llevarse a cabo en una segunda etapa. Si existen anomalías, la idea es que a partir de dicho informe, se construya un derecho de petición al Icfes para informar sobre las anomalías y solicitar información que permita dar solución a los problemas.

En el estudio se plantea tener en cuenta, además de los puntajes, la edad, el género, la étnia, el tema de discapacidad y el índice socioeconómico.

Tenga en cuenta las siguientes recomendaciones:

1. En la columna "ESTU_ESTADO" se especifica si el resultado está listo para ser publicado ("PUBLICAR") o si el resultado está en revisión ("VALIDEZ OFICINA JURÍDICA"). Solo interesa trabajar con los que están listos para publicarse.

2. Para este estudio, solo interesan los estudiantes de nacionalidad colombiana.

3. Los niveles de inglés, según el Icfes, son A1-, A1, A2, B1 y B2, en dicho orden (de izquierda a derecha aumenta el nivel de desempeño).

---------------------------------------------------------------------------------------------------------------------------

Se requiere:

1. Analizar el caso y revisar el diccionario de variables. El entregable aquí es que en sus palabras expresen cuál es el objetivo del proyecto de analítica.

2. Cargar la base de datos correctamente (revisar tildes, caracteres especiales y espacios en blanco deben quedar con NA).

3. Realizar las modificaciones a la base de datos que se requieran.

4. Revisar la columna fecha de nacimiento (¿qué encontró?). Calcular la edad al momento de tomar la prueba (09 de octubre de 2016).

5. Revisar la variable nivel de inglés (¿qué encontró?). Además, según el Ministerio de Educación Nacional, una institución de educación superior tiene la meta de llevar a sus estudiantes a nivel B1 o B2. Se necesita entonces una nueva columna que identifique si el estudiante cumplió o no esta condición.

6. Revisar las columnas sobre étnia (¿qué encontró?)

7. Revisar las columnas sobre discapacidad (¿qué encontró?)

8. Revisar las columnas de puntajes, solo los puntajes (¿qué encontró?)



Deben entregar una presentación con un reporte del análisis preparación con la siguiente estructura:

1.  Contexto del problema

2. Descripción general del dataset

3. Valores erroneos y atípicos

4. DIstribución de las variables

5. Hallazgos importantes

In [2]:
import pandas as pd   ## Libreria para manipular y analizar datos
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns

In [13]:
df.describe()

,PERIODO,ESTU_COD_RESIDE_MCPIO,ESTU_COD_RESIDE_DEPTO,INST_COD_INSTITUCION,ESTU_SNIES_PRGMACADEMICO,ESTU_PRGM_CODMUNICIPIO,ESTU_INST_CODMUNICIPIO,ESTU_COD_MCPIO_PRESENTACION,ESTU_COD_DEPTO_PRESENTACION,MOD_RAZONA_CUANTITAT_PUNT,...,MOD_COMPETEN_CIUDADA_PUNT,MOD_COMPETEN_CIUDADA_PNAL,MOD_COMPETEN_CIUDADA_PGREF,MOD_INGLES_PUNT,MOD_INGLES_PNAL,MOD_INGLES_PGREF,MOD_COMUNI_ESCRITA_PUNT,MOD_COMUNI_ESCRITA_DESEM,MOD_COMUNI_ESCRITA_PNAL,MOD_COMUNI_ESCRITA_PGREF
count,53040.0,53039.000000,53039.000000,53040.000000,46447.000000,53040.000000,53040.000000,53040.000000,53040.000000,53040.000000,...,53040.000000,53040.000000,53040.000000,53040.000000,53040.000000,53040.000000,52253.000000,52253.000000,52253.000000,52253.000000
mean,20164.0,31375.207941,33.103603,4798.957353,60167.254979,29001.485822,21353.382730,31391.991686,31.285030,96.452677,...,97.960143,50.498812,50.486143,100.030977,50.496738,50.483899,100.026257,2.454998,50.443592,50.431554
std,0.0,27337.050781,434.930621,2850.475535,38422.092058,26989.336239,22371.944531,27486.052164,27.465822,21.755443,...,22.214494,28.866979,28.867236,21.411949,28.866678,28.866361,20.091996,0.941298,28.849353,28.853195
min,20164.0,5001.000000,5.000000,1106.000000,174.000000,5001.000000,5001.000000,5001.000000,5.000000,0.000000,...,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,49.000000,1.000000,1.000000,1.000000
25%,20164.0,11001.000000,11.000000,2725.000000,14802.000000,11001.000000,11001.000000,11001.000000,11.000000,81.000000,...,82.000000,25.000000,25.000000,85.000000,25.000000,25.000000,85.000000,2.000000,25.000000,25.000000
50%,20164.0,15176.000000,15.000000,3812.000000,54450.000000,11001.000000,11001.000000,15001.000000,15.000000,96.000000,...,99.000000,50.500000,50.000000,98.000000,50.000000,50.000000,102.000000,3.000000,50.000000,50.000000
75%,20164.0,63001.000000,63.000000,9110.000000,91414.000000,54498.000000,13001.000000,66001.000000,66.000000,111.000000,...,114.000000,75.250000,75.000000,112.000000,75.000000,75.000000,115.000000,3.000000,75.000000,75.000000
max,20164.0,99999.000000,99999.000000,9915.000000,105114.000000,99001.000000,88001.000000,99001.000000,99.000000,200.000000,...,200.000000,100.000000,100.000000,200.000000,100.000000,100.000000,200.000000,4.000000,100.000000,100.000000

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53040 entries, 0 to 53039
Columns: 104 entries, ESTU_TIPODOCUMENTO to NSE
dtypes: float64(7), int64(18), object(79)
memory usage: 42.1+ MB

In [16]:
df.shape

(53040, 104)

1. Analizar el caso y revisar el diccionario de variables. El entregable aquí es que en sus palabras expresen cuál es el objetivo del proyecto de analítica.

Analizar la calidad de los datos,  de acuerdo a esto realizar el tratamiento adecuado para los datos perdidos para un posterior informe de anomalias

2. Cargar la base de datos correctamente (revisar tildes, caracteres especiales y espacios en blanco deben quedar con NA).

In [19]:
df = pd.read_csv("SABERTYT20162.csv", sep=';', encoding='latin1', na_values='')
df.head(10)

C:\Users\Manuel\AppData\Local\Temp\ipykernel_804\369972703.py:1: DtypeWarning: Columns (11,12,14,61) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("SABERTYT20162.csv", sep=';', encoding='latin1', na_values='')

,ESTU_TIPODOCUMENTO,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_FECHANACIMIENTO,PERIODO,ESTU_CONSECUTIVO,ESTU_ESTUDIANTE,ESTU_ESTADOCIVIL,ESTU_TIENE_ETNIA,ESTU_ETNIA,...,MOD_INGLES_DESEM,MOD_INGLES_PNAL,MOD_INGLES_PGREF,MOD_COMUNI_ESCRITA_PUNT,MOD_COMUNI_ESCRITA_DESEM,MOD_COMUNI_ESCRITA_PNAL,MOD_COMUNI_ESCRITA_PGREF,ESTU_ESTADO,INSE,NSE
0,CC,1 COLOMBIA,M,15/08/1990,20164,EK201640024941,ESTUDIANTE,UNIÓN LIBRE,NO,NaN,...,A2,79,59,121.0,4.0,87.0,85.0,PUBLICAR,"57,14241052",NSE3
1,CC,1 COLOMBIA,M,26/09/1990,20164,EK201640012159,ESTUDIANTE,SOLTERO,NaN,NaN,...,A2,75,74,123.0,4.0,89.0,87.0,PUBLICAR,"65,76637176",NSE4
2,CC,1 COLOMBIA,F,28/10/1994,20164,EK201640041435,ESTUDIANTE,SOLTERO,NO,NaN,...,B1,97,98,99.0,2.0,43.0,44.0,PUBLICAR,"47,68199591",NSE2
3,CC,1 COLOMBIA,F,24/09/1979,20164,EK201640003654,ESTUDIANTE,UNIÓN LIBRE,NO,NaN,...,A1,32,30,75.0,1.0,13.0,11.0,PUBLICAR,"55,56398024",NSE3
4,CC,1 COLOMBIA,M,6/07/1988,20164,EK201640018456,ESTUDIANTE,SOLTERO,NO,NaN,...,A1-,15,19,86.0,2.0,29.0,34.0,PUBLICAR,"27,01330074",NSE1
5,CC,1 COLOMBIA,M,31/12/1992,20164,EK201640035645,ESTUDIANTE,SOLTERO,NO,NaN,...,A2,80,81,105.0,3.0,63.0,63.0,PUBLICAR,"50,76707191",NSE2
6,CC,1 COLOMBIA,F,19/04/1975,20164,EK201640031656,ESTUDIANTE,UNIÓN LIBRE,SI,19 Otro grupo étnico minoritario,...,A1-,11,14,99.0,2.0,43.0,43.0,PUBLICAR,"45,54980331",NSE1
7,CC,1 COLOMBIA,M,1/04/1995,20164,EK201640018226,ESTUDIANTE,SOLTERO,NaN,NaN,...,A1-,23,21,84.0,2.0,22.0,22.0,PUBLICAR,"55,05894035",NSE2
8,CC,1 COLOMBIA,M,20/12/1988,20164,EK201640020916,ESTUDIANTE,SOLTERO,NO,NaN,...,A1,43,26,118.0,3.0,81.0,79.0,PUBLICAR,"60,17477413",NSE4
9,CC,1 COLOMBIA,F,30/12/1997,20164,EK201640025179,ESTUDIANTE,SOLTERO,NO,NaN,...,B1,94,94,127.0,4.0,94.0,93.0,PUBLICAR,"48,95934023",NSE2

In [18]:
valores_nulos_por_columna = df.isnull().sum()
valores_nulos_por_columna

ESTU_TIPODOCUMENTO            0
ESTU_NACIONALIDAD             0
ESTU_GENERO                   2
ESTU_FECHANACIMIENTO          1
PERIODO                       0
                           ...
MOD_COMUNI_ESCRITA_PNAL     787
MOD_COMUNI_ESCRITA_PGREF    787
ESTU_ESTADO                   0
INSE                        762
NSE                         762
Length: 104, dtype: int64

In [30]:
valores_unicos = df["ESTU_ETNIA"].value_counts()
valores_unicos = pd.DataFrame(valores_unicos)
valores_unicos

                                  ESTU_ETNIA
100 Ninguno                             1640
1 Comunidad afrodescendiente             685
19 Otro grupo étnico minoritario         446
4 Paez                                    73
18 Zenú                                   58
9 Pasto                                   42
2 Raizal                                  40
6 Embera                                  32
7 Pijao                                   21
8 Wayúu                                   19
11 Inga                                   16
17 Guambiano                              10
15 Palenquero                              7
3 Comunidad Rom (gitana)                   4
10 Cancuamo                                3
16 Arhuaco                                 3
12 Tucano                                  2
13 Huitoto                                 2

In [35]:
conteo_nulos_por_columna = df[['ESTU_FECHANACIMIENTO', 'ESTU_GENERO', 'ESTU_ETNIA', 'FAMI_ESTRATO_VIVIENDA']].isnull().sum()
conteo_nulos_por_columna

ESTU_FECHANACIMIENTO         1
ESTU_GENERO                  2
ESTU_ETNIA               49937
FAMI_ESTRATO_VIVIENDA        2
dtype: int64

In [31]:
valores_unicos_2 = df["ESTU_GENERO"].value_counts()
valores_unicos_2 = pd.DataFrame(valores_unicos_2)
valores_unicos_2

   ESTU_GENERO
M        28173
F        24865

In [36]:
valores_unicos_3 = df["FAMI_ESTRATO_VIVIENDA"].value_counts()
valores_unicos_3 = pd.DataFrame(valores_unicos_3)
valores_unicos_3

           FAMI_ESTRATO_VIVIENDA
ESTRATO 2                  22724
ESTRATO 3                  14506
ESTRATO 1                  13069
ESTRATO 4                   1890
ESTRATO 0                    388
ESTRATO 5                    386
ESTRATO 6                     75

In [44]:
df['ESTU_LIMITA_MOTRIZ'] = df['ESTU_LIMITA_MOTRIZ'].replace(['x', np.nan],[1, 0])
df

,ESTU_TIPODOCUMENTO,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_FECHANACIMIENTO,PERIODO,ESTU_CONSECUTIVO,ESTU_ESTUDIANTE,ESTU_ESTADOCIVIL,ESTU_TIENE_ETNIA,ESTU_ETNIA,...,MOD_INGLES_DESEM,MOD_INGLES_PNAL,MOD_INGLES_PGREF,MOD_COMUNI_ESCRITA_PUNT,MOD_COMUNI_ESCRITA_DESEM,MOD_COMUNI_ESCRITA_PNAL,MOD_COMUNI_ESCRITA_PGREF,ESTU_ESTADO,INSE,NSE
0,CC,1 COLOMBIA,M,15/08/1990,20164,EK201640024941,ESTUDIANTE,UNIÓN LIBRE,NO,NaN,...,A2,79,59,121.0,4.0,87.0,85.0,PUBLICAR,"57,14241052",NSE3
1,CC,1 COLOMBIA,M,26/09/1990,20164,EK201640012159,ESTUDIANTE,SOLTERO,NaN,NaN,...,A2,75,74,123.0,4.0,89.0,87.0,PUBLICAR,"65,76637176",NSE4
2,CC,1 COLOMBIA,F,28/10/1994,20164,EK201640041435,ESTUDIANTE,SOLTERO,NO,NaN,...,B1,97,98,99.0,2.0,43.0,44.0,PUBLICAR,"47,68199591",NSE2
3,CC,1 COLOMBIA,F,24/09/1979,20164,EK201640003654,ESTUDIANTE,UNIÓN LIBRE,NO,NaN,...,A1,32,30,75.0,1.0,13.0,11.0,PUBLICAR,"55,56398024",NSE3
4,CC,1 COLOMBIA,M,6/07/1988,20164,EK201640018456,ESTUDIANTE,SOLTERO,NO,NaN,...,A1-,15,19,86.0,2.0,29.0,34.0,PUBLICAR,"27,01330074",NSE1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53035,CC,1 COLOMBIA,M,22/01/1992,20164,EK201640005823,ESTUDIANTE,SOLTERO,NO,NaN,...,A1,38,56,104.0,3.0,57.0,63.0,PUBLICAR,"45,34484192",NSE1
53036,CC,1 COLOMBIA,M,7/07/1992,20164,EK201640005164,ESTUDIANTE,SOLTERO,NO,NaN,...,A1,48,68,75.0,1.0,12.0,15.0,PUBLICAR,"39,95548887",NSE1
53037,CC,1 COLOMBIA,M,7/09/1988,20164,EK201640001818,ESTUDIANTE,UNIÓN LIBRE,NO,NaN,...,A1,31,39,60.0,1.0,2.0,2.0,PUBLICAR,"60,76679974",NSE4
53038,CC,1 COLOMBIA,F,2/02/1994,20164,EK201640011583,ESTUDIANTE,SOLTERO,NO,NaN,...,A1,53,63,122.0,4.0,88.0,89.0,PUBLICAR,"69,01629674",NSE4
53039,CC,1 COLOMBIA,M,15/02/1988,20164,EK201640024848,ESTUDIANTE,SOLTERO,NO,NaN,...,A1-,3,3,118.0,3.0,80.0,80.0,PUBLICAR,"41,91417628",NSE1

In [45]:
valores_unicos_4 = df["ESTU_LIMITA_MOTRIZ"].value_counts()
valores_unicos_4 = pd.DataFrame(valores_unicos_4)
valores_unicos_4

     ESTU_LIMITA_MOTRIZ
0.0               52994
1.0                  46

In [ ]:
df['ESTU_LIMITA_INVIDENTE'] = df['ESTU_LIMITA_INVIDENTE'].replace(['x', np.nan],[1, 0])
df['ESTU_LIMITA_CONDICIONESPECIAL'] = df['ESTU_LIMITA_CONDICIONESPECIAL'].replace(['x', np.nan],[1, 0])
df['ESTU_LIMITA_CONDICIONESPECIAL'] = df['ESTU_LIMITA_CONDICIONESPECIAL'].replace(['x', np.nan],[1, 0])